// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-img-top{
    height: 350px;
}
.card{
     color:#2C2F3A;
}
h1 {
   display: flex;
   justify-content: center;
}
